
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status, #number_of_objects
{
font-size: 18px;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
}
canvas{
    border: solid rgb(226, 12, 12);
    background-color: pink;
    border-radius: 10px;
    margin-top: 30px;
}
